<section class="contacts" id="contacts">
    <div class="container">

        <h2 class="title title--contacts">Контакты</h2>

        <div class="contacts__inner">
            <div class="contacts__item">
                +7 925 133 4544
            </div>
            <div class="contacts__item">
                go11ga@rambler.ru
            </div>
            <div class="contacts__item">
                https://garrykhr.ru
            </div>
        </div>

        <div class="btn__container">
            <button class="btn btn--white" type="button" data-modal="">Резюме</button>
        </div>

    </div>
</section>
