<section class="education">
    <div class="container">

        <h2 class="title">Образование</h2>

        <div class="education__inner">
           <div class="education__col">
               <a class="education__link" href="http://ispu.ru/" target="_blank">
                    <img class="education__img" src="img/education/ispu.png" alt="ispu-logo">
                </a>
                <div class="education__title">
                    Ивановский Государственный Энергетический Университет
                </div>
                <div class="education__dates">
                    2002 - 2007
                </div>
                <div class="education__name">
                    Инженер по специальности "Электромеханика"
                </div>
           </div>

           <div class="education__col">
               <a class="education__link" href="https://www.rea.ru/" target="_blank">
                    <img class="education__img" src="img/education/reu.png" alt="reu-logo">
                </a>
                <div class="education__title">
                    Российский экономический университет имени Г.В. Плеханова
                </div>
                <div class="education__dates">
                    2010 - 2013
                </div>
                <div class="education__name">
                    Бакалавр Менеджмента
                </div>
           </div>
        </div>

    </div>
</section>
