<header class="header" id="header">
    <div class="container">
        <div class="header__inner">

            <button class="logo" type="button">
                K<span>i</span>
            </button>

            <nav class="nav" id="nav">
                <a class="nav__link" href="#" data-scroll="#intro">Главная</a>
                <a class="nav__link" href="#" data-scroll="#about">Обо мне</a>
                <a class="nav__link" href="#" data-scroll="#portfolio">Портфолио</a>
                <a class="nav__link" href="#" data-scroll="#work">Опыт работы</a>
                <a class="nav__link" href="#" data-scroll="#contacts">Контакты</a>
            </nav>

            <div class="nav__burger" id="navToggle">
                <svg class="nav__img">
                    <use xlink:href="#burger"></use>
                </svg>
            </div>

        </div>
    </div>
</header>
