<div class="modal" id="modal">
    <div class="modal__dialog" id="modal-dialog">

        <button class="modal__close" type="button" data-close="">
            <svg class="modal__icon">
                <use xlink:href="#cross"></use>
            </svg>
        </button>

        <div class="modal__content">
            <h3 class="modal__title">Резюме</h3>

            <div class="modal__btn-container">
                <a class="modal__btn" href="https://hh.ru/applicant/resumes/view?resume=01b3d143ff07267fd70039ed1f497662666a62" target="_blank">ссылка на HH.RU</a>
                <a class="modal__btn" href="cv-js-khromov.pdf" download>Скачать PDF</a>
            </div>

            <div class="timeline">
                <div class="timeline__col timeline__col--left">

                    <h4 class="timeline__title">Опыт работы</h4>

                    <div class="timeline__item">
                        <div class="timeline__date">2017 - н.в.</div>
                        <h5 class="timeline__subtitle">ООО "Беко"</h5>
                        <div class="timeline__position">Специалист сервисного отдела</div>
                        <div class="timeline__text">
                            <p>Управление сервисной сетью в регионах ответственности.</p>
                            <p>Оптимизация и развитие сети авторизованных сервисных центров.</p>
                            <p>Выполнение KPI.</p>
                            <p>Аудит авторизованных сервисных центров.</p>
                            <p>Презентации на дилерских конференциях.</p>
                            <p>Взаимодействие с отделом качества.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                    <div class="timeline__item">
                        <div class="timeline__date">2018 - 2018</div>
                        <h5 class="timeline__subtitle">ООО "Стар"</h5>
                        <div class="timeline__position">Учредитель</div>
                        <div class="timeline__text">
                            <p>Переговоры с поставщиками и закупка товара.</p>
                            <p>Маркетинг.</p>
                            <p>Мерчендайзинг крафта.</p>
                            <p>Бухгалтерия.</p>
                            <p>Подбор персонала.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                    <div class="timeline__item">
                        <div class="timeline__date">2008 - 2017</div>
                        <h5 class="timeline__subtitle">ООО "Канди СНГ"</h5>
                        <div class="timeline__position">Специалист сервисного отдела</div>
                        <div class="timeline__text">
                            <p>Управление сервисной сетью в России, Белоруссии и Казахстане.</p>
                            <p>Оптимизация и развитие сети авторизованных сервисных центров.</p>
                            <p>Выполнение KPI.</p>
                            <p>Продажа запасных частей.</p>
                            <p>Руководство ремонтным цехом.</p>
                            <p>Составление сервисного бюджета и контроль его выполнения.</p>
                            <p>Работа с претензиями.</p>
                            <p>Консультация сервисных центров по техническим вопросам.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                    <div class="timeline__item">
                        <div class="timeline__date">2007 - 2008</div>
                        <h5 class="timeline__subtitle">РФЯЦ "ВНИИЭФ"</h5>
                        <div class="timeline__position">Инженер конструктор</div>
                        <div class="timeline__text">
                            <p>Разработка конструкторской документации.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                </div><!-- /.timeline__col -->

                <div class="timeline__col timeline__col--right">

                    <h4 class="timeline__title timeline__title--skills">Навыки</h4>
                    <div class="timeline__skills">
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>Кроссбраузерная вёрстка</p>
                        <p>Адаптивная вёрстка</p>
                        <p>Sass</p>
                        <p>Bootstrap</p>
                        <p>JavaScript</p>
                        <p>jQuery</p>
                        <p>React</p>
                        <p>Vue</p>
                        <p>Gulp</p>
                        <p>Webpack</p>
                        <p>Git</p>
                    </div>

                    <h4 class="timeline__title timeline__title--mt">Образование</h4>

                    <div class="timeline__item">
                        <div class="timeline__date">2010 - 2013</div>
                        <h5 class="timeline__subtitle">Бакалавр Менеджмента</h5>
                        <div class="timeline__position">Российский экономический университет имени Г.В. Плеханова</div>
                    </div><!-- /.timeline__item -->

                    <div class="timeline__item">
                        <div class="timeline__date">2002 - 2007</div>
                        <h5 class="timeline__subtitle">Инженер по специальности "Электромеханика"</h5>
                        <div class="timeline__position">Ивановский Государственный Энергетический Университет</div>
                    </div><!-- /.timeline__item -->

                </div><!-- /.timeline__col -->
            </div><!-- /.timeline -->

        </div><!-- /.modal__content -->

    </div><!-- /.modal__dialog -->
</div><!-- /.modal -->
