<section class="portfolio" id="portfolio">
    <div class="container">

        <h2 class="title">Портфолио</h2>

        <div class="portfolio__header">
            <div class="portfolio__text">
                <p>В этом разделе представлены некоторые мои работы.</p>
            </div>

            <div class="portfolio__filter">
                <a class="portfolio__link" href="#" data-filter="All">Все категории</a>
                <a class="portfolio__link" href="#" data-filter="HTML">Вёрстка</a>
                <a class="portfolio__link" href="#" data-filter="JS">JS</a>
            </div>
        </div>

        <div class="portfolio__works">
           <div class="portfolio__item" data-cat="JS">
                <div class="portfolio__item-desc">
                    Vue + Vuex
                </div>
                <img class="portfolio__img" src="img/portfolio/spa_vue.jpg" alt="spa_vue">
                <div class="portfolio__description">
                    <a href="http://vue.garrykhr.ru/" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/SPA-vuex-router.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Vue + Vuex-->

            <div class="portfolio__item" data-cat="JS">
                <div class="portfolio__item-desc">
                    React + MobX
                </div>
                <img class="portfolio__img" src="img/portfolio/react.jpg" alt="react">
                <div class="portfolio__description">
                    <a href="http://react.garrykhr.ru/" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/SPA.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Vue + Vuex-->

            <div class="portfolio__item" data-cat="JS">
                <div class="portfolio__item-desc">
                    JavaScript
                </div>
                <img class="portfolio__img" src="img/portfolio/snake.jpg" alt="snake">
                <div class="portfolio__description">
                    <a href="works/snake/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/Snake.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Snake-->

            <div class="portfolio__item" data-cat="HTML">
                <div class="portfolio__item-desc">
                    HTML + CSS + jQuery
                </div>
                <img class="portfolio__img" src="img/portfolio/amethyst.jpg" alt="amethyst">
                <div class="portfolio__description">
                    <a href="works/amethyst/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/Amethyst.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Amethyst-->

            <div class="portfolio__item" data-cat="HTML">
                <div class="portfolio__item-desc">
                    HTML + CSS + jQuery
                </div>
                <img class="portfolio__img" src="img/portfolio/spirit.jpg" alt="spirit">
                <div class="portfolio__description">
                    <a href="works/spirit/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/Spirit8.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Spirit-->

            <div class="portfolio__item" data-cat="HTML">
                <div class="portfolio__item-desc">
                    HTML + CSS + jQuery
                </div>
                <img class="portfolio__img" src="img/portfolio/tajam.jpg" alt="tajam">
                <div class="portfolio__description">
                    <a href="works/tajam/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/Tajam.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Tajam-->

            <div class="portfolio__item" data-cat="HTML">
                <div class="portfolio__item-desc">
                    HTML + CSS + jQuery
                </div>
                <img class="portfolio__img" src="img/portfolio/mogo.jpg" alt="mogo">
                <div class="portfolio__description">
                    <a href="works/mogo/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/Mogo.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Mogo-->

            <div class="portfolio__item" data-cat="HTML">
                <div class="portfolio__item-desc">
                    HTML + CSS + jQuery
                </div>
                <img class="portfolio__img" src="img/portfolio/active_box.jpg" alt="active_box">
                <div class="portfolio__description">
                    <a href="works/active_box/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/ActiveBox.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Active_box-->

            <div class="portfolio__item" data-cat="HTML">
                <div class="portfolio__item-desc">
                    HTML + CSS + jQuery
                </div>
                <img class="portfolio__img" src="img/portfolio/portfolio.jpg" alt="portfolio">
                <div class="portfolio__description">
                    <a href="works/portfolio/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/Portfolio.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Portfolio-->

            <!--<div class="portfolio__item" data-cat="HTML">
                <div class="portfolio__item-desc">
                    Bootstrap
                </div>
                <img class="portfolio__img" src="img/portfolio/bootstrap.jpg" alt="bootstrap">
                <div class="portfolio__description">
                    <a href="works/bootstrap/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/Bootstrap.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Portfolio-->

            <!--<div class="portfolio__item" data-cat="JS">
                <div class="portfolio__item-desc">
                    Vue router + компоненты BootstrapVue
                </div>
                <img class="portfolio__img" src="img/portfolio/bootstrap_vue.jpg" alt="bootstrap_vue">
                <div class="portfolio__description">
                    <a href="works/bootstrap_vue/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/BootstrapVue.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Bootstrap_vue.jpg-->

            <!--<div class="portfolio__item" data-cat="JS">
                <div class="portfolio__item-desc">
                    JavaScript
                </div>
                <img class="portfolio__img" src="img/portfolio/seafight.jpg" alt="seafight">
                <div class="portfolio__description">
                    <a href="works/seafight/index.html" target="_blank">Подробнее</a>
                    <a href="https://github.com/Go11ga/SeaFight.git" target="_blank">GitHub</a>
                </div>
            </div><!-- /.portfolio__item Seafight-->

        </div><!-- /.portfolio__works -->

        <h2 class="title">Навыки</h2>

        <div class="skills">
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img" src="img/skills/html.png" alt="HTML5">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img" src="img/skills/css.png" alt="css">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img skills__img--sass" src="img/skills/sass.png" alt="sass">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img" src="img/skills/bootstrap.png" alt="bootstrap">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img" src="img/skills/js.png" alt="js">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img" src="img/skills/jq.png" alt="jq">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img skills__img--react" src="img/skills/react.png" alt="react">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img skills__img--vue" src="img/skills/vue.png" alt="vue">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img skills__img--gulp" src="img/skills/gulp.png" alt="gulp">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img" src="img/skills/webpack.png" alt="webpack">
                </div>
            </div>
            <div class="skills__item">
                <div class="skills__pic">
                    <img class="skills__img skills__img--git" src="img/skills/git.png" alt="git">
                </div>
            </div>
        </div><!-- /.skills -->

    </div><!-- /.container -->
</section>
