<section class="work" id="work">
    <div class="container">
        <h2 class="title">Опыт работы</h2>

        <div class="work__item">
            <div class="work__col">
                <a class="work__link" href="https://beko.ru/" target="_blank">
                    <img class="work__img" src="img/work/beko.jpg" alt="beko-logo">
                </a>
                <div class="work__dates">
                    11.2017 - н.в.
                </div>
                <div class="work__name">
                    специалист отдела сервиса
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Управление сервисной сетью в регионах ответственности.</li>
                        <li>Оптимизация и развитие сети авторизованных сервисных центров.</li>
                        <li>Выполнение KPI.</li>
                        <li>Аудит авторизованных сервисных центров.</li>
                        <li>Презентации на дилерских конференциях.</li>
                        <li>Взаимодействие с отделом качества.</li>
                    </ul>

                    <p>Комания beko является третьим по величине производителем бытовой техники для дома в Европе и мировым брендом, который можно встретить более чем в 130 странах.</p>
                    <p>Торговая марка Beko, наряду с такими брендами, как Blomberg, Grundig, Arctic и др., принадлежит крупнейшему турецкому производственному концерну Арчелик (Arçelik A.Ş). Он объединяет 18 заводов, расположенных в Турции, Румынии, России, Китае, Южной Африке, Таиланде и Пакистане. Основная продукция – холодильники, стиральные машины, посудомоечные машины, духовые шкафы, телевизоры, климатическая и малая бытовая техника. В Арчелик трудится 30 000 сотрудников, офисы продаж и маркетинга расположены в 27 странах.</p>
                </div>
            </div>

        </div><!-- /.work__item beko -->

        <div class="work__item">

            <div class="work__col">
                <img class="work__img work__img--probka" src="img/work/probka.jpg" alt="probka-logo">
                <div class="work__dates">
                    02.2018 - 12.2018
                </div>
                <div class="work__name">
                    учредитель
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Переговоры с поставщиками и закупка товара.</li>
                        <li>Маркетинг.</li>
                        <li>Мерчендайзинг крафта.</li>
                        <li>Бухгалтерия.</li>
                        <li>Подбор персонала.</li>
                    </ul>

                    <p>В указанный период времени являлся совладельцем магазина крафтового и разливного пива. Получил неоценимый опыт в областях ведения малого бизнеса, руководства персоналом, закупках, маркетинге и бухгалтерии.</p>
                </div>
            </div>

        </div><!-- /.work__item probka-->

        <div class="work__item">
            <div class="work__col">
                <a class="work__link" href="https://www.candy.ru/ru_RU" target="_blank">
                    <img class="work__img" src="img/work/candy.png" alt="candy-logo">
                </a>
                <div class="work__dates">
                    11.2008 - 10.2017
                </div>
                <div class="work__name">
                    специалист отдела сервиса
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Управление сервисной сетью в России, Белоруссии и Казахстане.</li>
                        <li>Оптимизация и развитие сети авторизованных сервисных центров.</li>
                        <li>Выполнение KPI.</li>
                        <li>Продажа запасных частей.</li>
                        <li>Руководство ремонтным цехом.</li>
                        <li>Составление сервисного бюджета и контроль его выполнения.</li>
                        <li>Работа с претензиями.</li>
                        <li>Консультация сервисных центров по техническим вопросам.</li>
                    </ul>

                    <p>Компания Candy ведет свою историю с 1945го года и является крупным производителем бытовой техники. По объему бизнеса уступает beko, но очень хорошо известна и узнаваема в Европе, особенно, на своей родине - в Италии. Штаб-квартира расположена в городе Бругерио, регион Милан. Офис компании в России находится в Москве, завод по производству стиральных машин в городе Киров. В 2018м году все активы Candy были куплены китайским производителем бытовой техники и электроники, компанией Haier.</p>

                </div>
            </div>
        </div><!-- /.work__item candy -->

        <div class="work__item">
            <div class="work__col">
                <a class="work__link" href="http://www.vniief.ru/" target="_blank">
                    <img class="work__img work__img--rfnc" src="img/work/rfnc.jpg" alt="rfnc-logo">
                </a>
                <div class="work__dates">
                    10.2007 - 06.2008
                </div>
                <div class="work__name">
                    инженер конструктор
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Разработка конструкторской документации.</li>
                    </ul>

                    <p>Российское государственное научное и производственное предприятие, входящее в состав госкорпорации «Росатом». Расположено в ЗАТО Саров. Основное направление деятельности — разработка и производство ядерных боеприпасов.</p>
                </div>
            </div>

        </div><!-- /.work__item rfnc -->

    </div>
</section>
